 
<div class="lg:w-3/12 mt-2 p-10 mt-t shadow-lg mx-auto">
    <h3 class="text-3xl text-center font-semibold py-5">Forgate Password</h3>
    <form [formGroup]="forgateForm" class="flex flex-col" action="">
        <span class="mb-4">
            Enter You emailId we will send the email link to reset you password.
        </span>
    
        <div class="flex flex-col mt-4 mb-2">
            <input formControlName="email" class="p-2 border border-gray-300" type="email" placeholder="Email">
            <span *ngIf="forgateForm.hasError('required', 'email') && forgateForm.controls['email'].dirty" class="text-red-500">*Email is required</span>
            <span *ngIf="forgateForm.hasError('email', 'email')" class="text-red-500">*Email address invalid</span>
        </div>

        <div class="mt-2">
            <button (click)="submit()" [disabled]="forgateForm.invalid" [class.disabled]="forgateForm.invalid"
            class="bg-indigo-500 w-1/4 mr-3 p-2 rounded-md text-gray-50">Submit</button>

            <button routerLink="/login" class="bg-gray-500 w-1/4 mr-3 p-2 rounded-md text-gray-50">Cancle</button>
        </div>

    </form>
</div>